/* .contenedor__item{
    border: solid;
    width:300px;
    height:900px;
    margin:50px;
    padding:20px;
} */

.contenedor__item{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
margin-top: 60px;
}

.terminarCompra{ 
    margin-top: 20px;
    color:black;
    border-radius: 2rem;
    padding:10px;
    background-color: rgb(139, 242, 220);   
    font-weight: bold; 
    font-size: 1.1rem;
   
    
}

.ItemFooter{
    background-color: transparent;
    margin-bottom: 350px;
    margin-left: 500px;
}

.texto__itemDetail{
    font-size: 1.5rem;
}

.item__imagen{
    margin-left: 0;
}

.descripcion__texto{
    font-size: 1rem;
}

.imagen__producto1{
    height: 300px;
}

.imagen__producto2{
    height: 300px;
}
.imagen__producto3{
    height: 300px;
}

@media (min-width:1700px){
    .ItemFooter{
        background-color: transparent;
        margin-bottom: 550px;
        margin-left: 550px;
    }
    
.contenedor__item{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 90px;
    }
}