.imagen__producto{
    height:150px;
  }
  
/*  .contenedor{

  }   */
  
  .productos{ 
    padding:20px;
    border:2px solid black;
    margin-top: 20px;
    width:500px;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color:white;
   
  }

  .boton{
    margin-top: 20px;
    padding:10px;
    background-color: purple ;
    color:white;
    font-weight: bold;
    width:150px;
    border-radius: 2rem;
  }