.form{
    border: 2px solid;
    
    padding:25px;
    margin-top:20px;
    margin-left: 500px;;
    margin-right: 500px;
    background-color: rgb(238, 196, 255);
}

.label{
    padding:10px;
    font-weight: bold;
}


.boton__cantidad{
    margin-top: 20px;
    color:black;
    border-radius: 2rem;
    padding:10px;
    background-color: rgb(139, 242, 220);   
    font-weight: bold; 
    font-size: 1.1rem;
    
    
}